In [26]:
import numpy as np 
import pandas as pd
import plotly.express as px

In [29]:
data_frame01 = pd.read_csv('/home/josusantz/Development/Py/I-COTEMA/PYTHON/DADOS/1060a8b6-84ad-4594-b3ac-53a9cfedcb46.csv')
data_frame02 = pd.read_csv('/home/josusantz/Development/Py/I-COTEMA/PYTHON/DADOS/pld_horario_submercado_2023.csv', sep = ';')

In [30]:
data_frame01.head()

,_id,SUBMERCADO,MES_REFERENCIA,PERIODO_COMERCIALIZACAO,CONSUMO_RECONCILIADO,CONSUMO_GERACAO
0,1,NORDESTE,202309,1,12016.765778,32.904592
1,2,NORDESTE,202309,2,11671.500078,32.990554
2,3,NORDESTE,202309,3,11389.795112,33.088436
3,4,NORDESTE,202309,4,11179.839707,33.201287
4,5,NORDESTE,202309,5,11040.114548,33.493689

In [31]:
data_frame02.head()

   MES_REFERENCIA SUBMERCADO  PERIODO_COMERCIALIZACAO    PLD
0          202309   NORDESTE                        1  69.04
1          202309   NORDESTE                        2  69.04
2          202309   NORDESTE                        3  69.04
3          202309   NORDESTE                        4  69.04
4          202309   NORDESTE                        5  69.04

In [34]:
reservatorio = pd.read_csv('/home/josusantz/Development/Py/I-COTEMA/PYTHON/DADOS/RESERVATORIOS.csv', sep = ';')

In [35]:
reservatorio.columns

Index(['nom_reservatorio', 'tip_reservatorio', 'cod_resplanejamento',
       'cod_posto', 'nom_usina', 'ceg', 'id_subsistema', 'nom_subsistema',
       'nom_bacia', 'nom_rio', 'nom_ree', 'dat_entrada', 'val_cotamaxima',
       'val_cotaminima', 'val_volmax', 'val_volmin', 'val_volutiltot',
       'val_produtibilidadeespecifica', 'val_produtividade65volutil',
       'val_tipoperda', 'val_perda', 'val_latitude', 'val_longitude'],
      dtype='object')